{% extends 'base.html' %}
{% block javascripts %}
    <script>
        function makeAjaxCall() {
            var parent_posts = $(".entry").attr("id");
            $.ajax({
                url: "{% url 'ajaxUserUpdate' 'admin2' 15 %}",
                success: function(data) {
                    console.log(data);
                },
                complete: function() {
                    setTimeout(makeAjaxCall, 2000);
                }
            });
        }
        $(document).ready(function() {
            setTimeout(makeAjaxCall, 2000);
        });
    </script>
{% endblock %}