{% extends 'base.html' %}

{% block content %}
<div class="container">
  <!-- Categories -->
  <div class='wrapper text-center mb-3'>
    <div class="btn-group">
        <a class="category btn btn-link mr-4 text-success"  href="{% url 'filterByCategory' 'All' %}">All</a>
      {% for category in categories %}
        <a class="category btn btn-link mr-4 text-success" href="{% url 'filterByCategory' category %}">{{ category }}</a>
      {% endfor %}
    </div>
  </div>
  <!-- Projects -->
  <div class="row">
    {% for project in all_projects %}
      <div class="col-sm-4 py-2">
        <div class="card card-body">
          <a href="{% url 'project' project.project_name %}" class="card-title">{{ project.project_name }}</a>
          <h6 class="card-subtitle mb-2 text-muted">{{ project.owner }}</h6>
          <p class="card-text">{{ project.description }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
{% block javascripts %}
<script>

  $(".category").click(function(event){
      makeAjaxCall(event, $(this).attr("href"));
    });

	function makeAjaxCall(event, category_href) {
    event.preventDefault();
		$.ajax({
			url: category_href,
			success: function (data) {
				console.log(data);
				data = JSON.parse(data);
        $(".row").empty();
			
        // Loop over the data and update the front-end if needed.
				for (let i = 0; i < data.length; i++) {
          const project = data[i];
          var newProjectView = document.createElement("div");
          newProjectView.setAttribute("class", "col-sm-4 py-2");
          newProjectView.innerHTML = "<div class='card card-body'> <a href='" + project.url + "' class='card-title'>" + project.project_name + "</a><h6 class='card-subtitle mb-2 text-muted'>" + project.owner + "</h6><p class='card-text'>" + project.description + "</p></div>";
          $(".row").append(newProjectView);
        }
			},
			complete: function () {
				
			}
		});
	};
</script>
{% endblock %}