{% extends 'userprofile/base.html' %}
{% block content %}
	<div class="row">
		<div class="project-banner">{{project.project_name}}</div>
	</div>
	<div class="row">
	  <div class="column left">
	    <div class="profile-info">
	    	{{user.first_name}} asdfasfd{{user.last_name}} </br>
	    </div>
	  </div>
	  <div class="column right">
			{% for updates in user.username %}
				<div class="entry"><p>{{updates}}</p></div>
				<div class="entry"><p>{{updates}}</p></div>
			{% endfor %}
	  </div>
	</div>
{% endblock %}
