{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-center mt-5">
        <span class="border rounded border-secondary p-5 mr-7" style="background-color: white">
        <h3 class="d-flex justify-content-center p-2">Create New Project</h3>
        <form action="{% url 'createProject' %}" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-outline-primary float-right">Submit</button>
        </form>
        </span>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script>
        var formGroups = $('p');
        for(let i=0; i < formGroups.length; i++) {
            var ele = formGroups[i];
            $(ele).replaceWith("<div class='form-group'>" + $(ele).html() + "</div>");
        }
        $('select').addClass("custom-select custom-selct-lg");
        $('textarea').addClass("form-control");
        $('input').addClass("form-control");
    
        $('li').addClass("text-muted");
        $('.helptext').addClass("text-muted");
    
        $('.errorlist li').removeClass("text-muted");
        $(".errorlist li").attr("style", "color:red");
    
    </script>
{% endblock %}