@import url(https://fonts.googleapis.com/css?family=Oswald);


.entry{
	background-color: #CDF3BF;
	padding-left: 1em;
	padding-right: 1em;

}
.navbar{
	background-color: #314B77;
	height: 6em;
}

.navbar div{
	color: white;
}

a {
	color:white;
}

.navbar-brand{
	margin-top: 3%;
	font-family: 'Oswald', sans-serif;
	font-size: 35px;
	color: white;
	text-indent: 2em;
}

.glyphicon {
	margin-top: 3%;
	font-size: 30px;
}



* {
    box-sizing: border-box;
}

.column {
    float: left;
    margin-bottom: 1%;
    padding: 1em;
    background-color:#97D67E;
    height: calc(100vh - 1em);
    overflow: auto;
}

.left {
  width: 30%;
  margin-left: 3.5%;

}

.right {
margin-left: 3%;
  width: 60%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.div-inline{
    display:inline-block;
}
