@import url(https://fonts.googleapis.com/css?family=Oswald);

.navbar{
	background-color: #314B77;
	height: 6em;
}

.navbar-brand{
	font-family: 'Oswald', sans-serif;
	font-size: 35px;
	color: black;
	text-indent: 2em;
}

#navbarSupportedContent{
	font-family: 'Oswald', sans-serif;
	font-size: 32px;
	margin-left: 1.75em;
}

nav{
	margin-bottom: 1.5em;
}

.btn-logout{
	border-color: #97D67E;
	color: #97D67E;
}
.btn-logout:hover{
	background-color: #97D67E;
}

.column {
	float: left;
	margin-bottom: 1%;
	padding: 0;
	background-color:#97D67E;
	height: calc(100vh - 1em);
	overflow: auto;
	border-radius: 8px;
	border: solid 5px #97D67E;


}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.entry{
	background-color: white;
	padding: 1em 1em 1em 1em;
	margin: 1em;
	border-radius: 8px;
	border: solid 1px #97D67E;
}

.left {
	width: 30%;
	margin-left: 3.5%;
	padding: 1.5em;
}

.right {
	margin-left: 3%;
	width: 60%;
}

.inner-column{
	margin-left: 5%;
	background-color: #CDF3BF;
	height: 60%;
	margin-bottom: 1em;
	width: 90%;
}

.project-banner{
	background-color: #6D92D0;
	color:white;
	float: left;
	margin: 0% 2% 1% 2%;
	overflow: auto;
	font-family: 'Oswald', sans-serif;
	width: 96%;
	font-size: 35px;
	text-align: center;
}


.pending-requests h5{
	text-align: center
}

.request-card{
	border-color: #CDF3BF;
	border-style: solid;
	padding: 5px;
	border-radius: 4px;
  	border-width: 2px;
  	margin-bottom: 5px;
}
.request-buttons{
	margin-left: 50%;
	color:white;
}

h6 {
	display: inline;
}

.project-actions{
	text-align:center;
}

.project-actions button {
	margin: 0 auto;
	margin-bottom: 2em;
	margin-top: 3em;
	display: block;
}

.response{
	background-color: white;
	border: solid 1px;
	border-color: #97D67E;
	margin-bottom: 1em;
	margin-left: 1.5em;
	padding-left: 1em;
	border-radius: 8px;
}

.entry button{
	position: relative;
	right: -87%;
	bottom: -0.5em;
	background-color: #6D92D0;
	color: white;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}


/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
