{% extends 'userprofile/base.html' %}
{% block content %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<div class="row">
	  <div class="column left">
	    <div class="column inner-left inner-column">Profile pic</div>
	    <div class="column inner-right inner-column">Updates and questions unread</div>
	    <div class="profile-info">
	    	{{user.first_name}} {{user.last_name}}</br>
	    </div>
	  </div>
	  <div class="column right">
			{% for post in posts %}
				<div class="entry"><p>{{post.content}}</p>
					{% for id, child in children_posts.items %}
						{% ifequal id post.pk %}
							{% for child_post in child %}
								<div class="response">{{child_post.content}}</div>
							{% endfor %}
						{% endifequal %}
					{% endfor %}
					<button type="button" class="btn">Respond</button>
					</div>
			{% endfor %}
	  </div>
	</div>
{% endblock %}
