<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

		<link href="{% static "userprofile/style.css" %}" rel="stylesheet" type="text/css"/>
		<link href="{% static "thehub/search.css" %}" rel="stylesheet" type="text/css"/>
		<link href="{% static "thehub/style.css" %}" rel="stylesheet" type="text/css"/>
		<title>
			{% block title %}
			{% endblock %}
		</title>
		<nav class="navbar navbar-expand-lg navbar-light">
			<a class="navbar-brand" href="{% url 'home' %}" style="color:white">Home</a>
			<a class="navbar-brand" href="{% url 'profile' %}" style="color:white">{{user.first_name}}</a>

			<div  id="navbarSupportedContent">
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white">My projects</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						{% for project in projects %}
							<a class="dropdown-item" href="{% url 'project' project.project_name %}">{{ project }} (owner/member)</a>
						{% endfor %}
					<div class="dropdown-divider"></div>
						{% for project in subscriptions %}
							<a class="dropdown-item" href="{% url 'project' project.project_name %}">{{ project }} (subscribe only)</a>
						{% endfor %}
						</div>
					</li>
				</ul>
			</div>

			<form action="" class="search-form mr-auto" method="POST">
				{% csrf_token %}
				<div class="form-group has-feedback">
					<label for="search" class="sr-only ">Search</label>
					<input type="text" spellcheck="false" class="form-control" name="search" id="search" placeholder="  Search..">
					<span class="form-control-feedback">
						<img style="width: 100%;height:100%;" src="\static\thehub\search_icon.png"></img>
					</span>
				</div>
			</form>

			<a href="{% url 'logout' %}" class="btn btn-outline-success my-2 my-sm-0 btn-logout">Log out</a>
		</nav>
	</head>
	<body>
	{% block content %}
	{% endblock %}
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

		<script>
		
				$('#search').keypress(function (event) {
					var keycode = (event.keyCode ? event.keyCode : event.which);
					if (keycode == '13'){
						var keywords = $("#search").val();
						ajaxSearch(event, keywords);
						$("#search").text("");
						return false; // "return false" is the same as calling e.preventDefault and e.stopPropagation()
					  }
				});
		
				function ajaxSearch(event, keywords) {
					event.preventDefault();
					$.ajax({
						url: "{% url 'searchProjects' %}" + keywords,
						success: function (data) {
							console.log(data);
							console.log("{% url 'searchProjects' %}");
							data = JSON.parse(data);
							$(".row").empty();
							
							// Loop over the data and update the front-end if needed.
							for (let i = 0; i < data.length; i++) {
								  const project = data[i];
								  var newProjectView = document.createElement("div");
								  newProjectView.setAttribute("class", "col-sm-4 py-2");
								  newProjectView.innerHTML = "<div class='card card-body h-100' style='border-color:#97D67E;'> <a style='color: rgb(70, 113, 192); font-size: 1.25em; font-weight: bold;' href='" + project.url + "' class='card-title'>" + project.project_name + "</a><h6 class='card-subtitle mb-2 text-muted'>" + project.owner + "</h6><p class='card-text'>" + project.description + "</p></div>";
								  $(".row").append(newProjectView);
							}	
						},
						complete: function () {
								
						}
					});
				};
				</script>
		{% block javascripts %}
		{% endblock %}
	</body>
</html>
